body {
    font-family: sans-serif
}
h1{
    text-align: center;
    color: aqua;
    margin: 30px 0 50px;
}
div.galleri{
    margin: 10px 10px;
}
div.galleri img {
    width: 210px;
    padding: 10px;
    filter: grayscale(100%);
    transition: 1s;
}
div.galleri img:hover{
    filter:grayscale(0);
    transform: scale(1.3);
}