<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:href="http://www.w3.org/1999/xhtml"
      xmlns:classa="http://www.w3.org/1999/xhtml">
<head th:include="fragments/head :: styles">
    <!--<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>-->
</head>
<body>
<div class="container">
    <header th:include="fragments/header :: navbar"></header>

    <h1>Book a time</h1>
    <h2>Udfyld dit fulde navn, email adresse, telefon nummer og eventuelt en kommentar for at booke en tid</h2>
    <br>
    <form method="Post" th:action="@{/saveBooking}" th:object ="${booking}">

        <label>Fulde navn:</label>
        <input type = "text" class ="form-control mr-sm-2" th:name="bookingName" placeholder="Arne Arnesen" required/>

        <label>Telefon nummer:</label>
        <br>
        <input type = "number" class="form-control-mr-sm-2" th:name="bookingPhone" placeholder ="10203040" required/>
        <br>

        <label>Email Adresse:</label>
        <br>
        <input type = "text" class = "form-control-mr-sm-2" th:name = "bookingEmail" placeholder = "ArneArenesen@gmail.com" required/>
        <br>

        <!--<input type="hidden" name = "bookingId" th:field="${booking.bookingId}"/>-->
        <input type="hidden" th:name = "bookingTime" th:value="${time}"/>
        <input type="hidden" th:name = "bookingDate" th:value="${date}"/>


        <h3>Vælg Frisør</h3>
        <select th:name = "fk_StaffId">
            <option th:value="1">Første ledige</option>
            <option th:value="2">John</option>
            <option th:value="3">kollegaer</option>
        </select>
        <br>

        <h4>Kommentar</h4>
        <textarea rows ="6" cols = "50" th:name = "bookingComment" placeholder = "Skriv eventuel kommentar her"></textarea>
        <br>

        <!--<div class="dropdown">
            <label>Vælg Frisør</label>
            <button onclick="myFunction()" class="dropbtn">Dropdown</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>-->


        <button class = "btn btn-primary" type ="submit" value="book tid">Book</button>

        <footer th:include="fragments/footer :: footer"></footer>
    </form>
</div>
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
</body>
</html>